<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="AcumaticaTestSDK" value="C:\Dev\TestSDK\TestSDK_21_205_0063_65\packages" />
  </packageSources>
</configuration>